.main-body{
    display: flex;
}
.picture{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
a{
    display: inline-block;
    padding: 10px;
}
#first{
    width: 200px;
    height: 150px;
}
#second{
    width: 185px;
    height: 250px;
}
#third{
    width: 180.75px;
    height: 250px;
}
#fourth{
    width: 200px;
    height: 200px;
}
#fifth{
    width: 187.5px;
    height: 250px;
}
#sixth{
    width: 200px;
    height: 250px;
}
