.index-body{
    display: flex;
}
#selfie{
    margin-top: 16px;
    width: 262.5px;
    height: 300px;
}
.header div h1{
    color: #FFFFFF;
}
.navbar{
    background-color: #212121;
    display: flex;
}
.current{
    background-color: lightgreen;
    color: white;
}
.navbar > div > a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color:#f2f2f2;
}
.navbar div a:hover{
    background-color: whitesmoke;
    color:#000000;
}
.current{
    background-color: lightgreen;
    color:#FFFFFF;
}
#intro{
    margin-left: 15px;
}
html{
    font-family: "Open Sans", sans-serif;
}
.project{
    display: flex;
    height: 320px;
    padding: 16px;
}
.project-img{
    max-width: 500px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.project-description{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 16px;
}
.project-img a img{
    max-width: 100%;
}

.image-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,auto));
    grid-gap: 2rem;
}

.image-picture{
    max-width: 400px;
    max-height: 400px;  
    margin: 0px auto;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}

.video-item{
    height: 380px;
    padding: 16px;
}
.video-cell{
    max-width: 480px;
    display: block;
}
.video-cell iframe{
    max-width: 100%;
}
.video-caption{
    max-width: 480px;
    text-align: center;
}
#back{
	background-color:#599bb3;;
	border-radius:28px;
	border:1px solid #599bb3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    position: fixed;
    visibility: hidden;
    right: 20px;
    bottom: 40px;
}
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }